<% if user_signed_in? %>
      <div class="container p-5">
          <h1><center>Welcome Back!</center></h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>


      </div>

  <% else %>
        <div class="container p-5">
            <h1><center>Welcome to my website!</center></h1>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


         </div>

          <div class="container p-5">
              <div class="row">
                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                          <img class="card-img-top img-fluid" src="https://images.wallpapersden.com/image/download/fortnite-x-john-wick_64993_5120x2880.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                          </div>
                        </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top img-fluid" src="https://wallpaperaccess.com/full/58401.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                      </div>
                    </div>
                  </div>
           <div class="col-md-4">
             <div class="card" style="width: 18rem;">
                 <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJT2kVO0ieNL3XowiatxhWmWYwLwp47CzNM1snkyV3ZrkhoSj0&usqp=CAU" alt="Card image cap">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                 </div>
                </div>
              </div>
          </div>
   </div>


     <div class="container p-5">
         <div class="row">
             <div class="col-md-4">
               <div class="card" style="width: 18rem;">
                     <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJMWw6PGlFs_jbYyLxJhpb8hnq6ww2Bn6uqGm1tyqBbH8hTzNT&usqp=CAU" alt="Card image cap">
                     <div class="card-body">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                     </div>
                   </div>
             </div>
             <div class="col-md-4">
               <div class="card" style="width: 18rem;">
                 <img class="card-img-top img-fluid" src="https://images2.alphacoders.com/564/thumb-1920-564835.jpg" alt="Card image cap">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                 </div>
               </div>
             </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQsJhJMwyc_oxL6AUu0zk1ZfynGYyks0YTEUtO_35BQGAGbcvO&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
           </div>
         </div>
     </div>
</div>


  <div class="container p-5">
      <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKgPRx7EmJhgb3DFNmjyOJgtzApwT3UZiabFje1qs7iQ4qsS-b&usqp=CAU" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  </div>
                </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top img-fluid" src="https://avante.biz/wp-content/uploads/Anime-Wallpapers-1080p/Anime-Wallpapers-1080p-035.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

              </div>
            </div>
          </div>
   <div class="col-md-4">
     <div class="card" style="width: 18rem;">
         <img class="card-img-top img-fluid" src="https://wallpapers.net/web/wallpapers/tokyo-ghoul-anime-hd-wallpaper-for-desktop-mobiles/thumbnail/lg.jpg" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

         </div>
        </div>
      </div>
  </div>
</div>
<% end %>
